.navbar {
  width: 100%;
  z-index: 50;
}


.navbar:not(.navbar__overlay) {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}


.navbar__overlay {
position: absolute;
  top: 1rem;
  left: 1.8rem;
  background: transparent;
}

.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__brand {
  font-size: larger;
  text-decoration: none;
  color: #111;
}

.navbar__links {
  display: flex;
  font-size: 1.2rem;
  gap: 1.25rem;
  align-items: center;
}

.navbar__count {
  font-weight: 600;
}

.active {
  font-weight: 600;
  text-decoration: none;
}

.navbar__overlay a {
  color: #fff;
}

.navbar__overlay a:hover {
  opacity: 0.9;
}
