.productGrid {
display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.productGrid > * {
  flex: 1 1 100%;
}

/* Tablet */
@media (min-width: 700px) {
  .productGrid > * {
    flex: 0 0 260px;
  }
}

/* Desktop */
@media (min-width: 1000px) {
  .productGrid > * {
    flex: 0 0 280px;
  }
}