.productGrid {
display: flex;
flex-wrap: wrap;
gap: 1rem;
}

.productGrid > * {
  flex: 1 1 100%;
}

/* Tablet */
@media (min-width: 700px) {
  .productGrid > * {
    flex: 1 1 calc(33.333% - 1rem);
  }
}

/* Desktop */
@media (min-width: 1000px) {
  .productGrid > * {
    flex: 1 1 calc(25% - 1rem);
  }
}